.header {
    padding: 5px 10px;
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: fit-content(800px) 1fr min-content;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    min-block-size: 50px;
    block-size: 10vh;
    box-shadow: 0 0 4px 0 var(--main-color);
}

.header__logo {
    block-size: 8vh;
    min-block-size: 40px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    block-size: 100%;
    position: relative;
    padding-inline-end: 40px;
}

.header__nav-title {
    padding-inline-start: .5rem;
    display: none;
    color: var(--font-accent-color);
    font-size: var(--font-size-big);
    position: relative;
}

.header__nav-title::after {
    position: absolute;
    content: '';
    top: 12px;
    right: -20px;
    block-size: 15px;
    aspect-ratio: 1;
    background: url("../../../assets/moreIcon.svg") no-repeat center center;
    background-size: contain;
}


.header__list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    background-color: var(--header-background);
    z-index: 1;
}

.header__list-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media (max-width: 900px) {
    .header__nav-title {
        display: block;
    }
    .header__list {
        display: block;
        padding-top: 10px;
        position: absolute;
        top: calc(100% + 4px);
        left: -15px;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
        border-bottom-right-radius: 10px;
        box-shadow: 1px 1px 2px  var(--main-color);
    }

    .header__nav:hover .header__list {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .header__nav:hover .header__nav-title::after {
        animation: menuIconRotate .5s forwards;
    }

    .header__list-item-link {
        padding: 15px 70px 15px 35px;
        }
}


@media (max-width: 400px) {
    .header__logo{
        block-size: 5vh;
    }

    .header__logout-button {
        padding: 7px 15px;
    }
    .header__nav {
        gap: 7px;
    }
}

@keyframes menuIconRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-180deg);
    }

}


.header__list-item-link {
    color: var(--font-accent-color);
    font-size: var(--font-size-medium);
    display: block;
    inline-size: 100%;
    block-size: 100%;
}

.header__list-item-link:focus {
    text-decoration: none;
    outline: none;
}

.header__list-item-link:focus-visible {
    text-decoration: underline;
}

.header__list-item-link:active {
    text-shadow: 1px 1px var(--accent-color);
}

.header__list-item-link:hover {
    text-shadow: 1px 1px var(--accent-color);
}


.header__logout-button {
    color: var(--button-hover-color);
    border-color: var(--button-hover-color);
    justify-self: right;
}


.header__logout-button:hover {
    background-color: var(--button-hover-color);
    color: var(--header-background);
    border-color: var(--button-hover-color);

}

.header__logout-button:active{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.header__logout-button:focus-visible{
    outline: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}