.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


#root {
    margin: auto;
    font-family: var(--main-font), sans-serif;
    color: var(--font-color);
    position: relative;
    line-height: 1.5;
    min-inline-size: 320px;
    font-size: var(--font-size-main);
    min-block-size: 100vh;
    background-color: var(--page-color);
}

.error-message {
    color: var(--error-color);
    font-size: var(--font-size-small);
}

.edit__button {
    align-self: start;
}

.button {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 7px 25px;
    transition: color 1s, background-color 1s, border-color 1s;
}

.button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--button-hover-color);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button:focus-visible{
    outline: 1px solid var(--main-color);
    outline-offset: 1px;
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--button-hover-color);
}

.textarea {
    resize: vertical;
}

.input {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    outline-color: transparent;
    transition: border-color 1s, outline-color 1s;
    padding: 7px;
}

.input::placeholder {
    color: var(--placeholder-color);
}

.input:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 1px;
    border-color: var(--accent-color);
}

.input:hover {
    border-color: var(--accent-color);
}



.link {
    color: var(--main-color);
    cursor: pointer;
    transition: color 1s;
}



.link:focus{
    color: var(--accent-color);
    text-decoration: underline;
    outline: none;
}

.link:hover{
    text-decoration: underline;
}


.text-effect {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px var(--accent-color),
    -2px -2px 2px var(--main-color)
}




