html, body {
    background-color: var(--page-color);
}

#root {
    margin: auto;
    font-family: var(--main-font), sans-serif;
    color: var(--font-color);
    position: relative;
    line-height: 1.5;
}

.error-message {
    color: var(--error-color);
    font-size: var(--font-size-small);
}

.button {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 7px 25px;
    transition: color 1s, background-color 1s, border-color 1s;
}

.button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--page-color);
}

.button:active{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--page-color);
}

.button:focus-visible{
    outline: 1px solid var(--accent-color);
    outline-offset: 1px;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--page-color);
}

.input {
    border: 1px solid var(--main-color);
    padding: 7px;
    border-radius: 10px;
    outline-color: transparent;
    transition: border-color 1s, outline-color 1s;
}

.input::placeholder {
    color: var(--placeholder-color);
}

.input:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 1px;
    border-color: var(--accent-color);
}

.input:hover {
    border-color: var(--accent-color);
}

.link {
    color: var(--main-color);
    cursor: pointer;
    transition: color 1s;
}

.link:visited {
    color: var(--main-color);
}


.link:focus{
    color: var(--accent-color);
    text-decoration: underline;
    outline: none;
}

.link:hover{
    text-decoration: underline;
}





