:root {
    --main-font: 'Roboto-Variable', sans-serif;
    --accent-font: 'Raleway-Variable', sans-serif;
    --header-background: #BC66BD;
    --page-color: rgba(188, 102, 189, 0.2);
    --card-background-color: #FFF;
    --card-border-color: #BC66BD;
    --auth-form-bg: #FFFFFF;
    --auth-bg: rgba(188, 102, 189, 0.2);
    --main-color: #BC66BD;
    --accent-color: #75BFB9;
    --button-hover-color: #FFFFFF;
    --scrollbar-color: var(--main-color) var(--page-color);
    --font-accent-color: #FFFFFF;
    --font-color: #494949;
    --placeholder-color: rgba(73, 73, 73, 0.7);
    --box-shadow: var(--main-color) 1px 1px 15px 0,
    var(--main-color) -1px -1px 15px 0,
    var(--main-color) 1px -1px 15px 0,
    var(--main-color) -1px 1px 15px 0;
    --font-size-large: 40px;
    --font-size-xxl: 60px;
    --font-size-big: 24px;
    --font-size-medium: 20px;
    --font-size-main: 16px;
    --font-size-small: 14px;
    --font-weight-bold: 700;
    --error-color: #BC66BD;
    --filter-image: none;
    --theme-toggle-color: rgba(0, 0, 0, 0.2);
    --theme-toggle-color-active: #fff;
}

:root.dark {
    --header-background: #3f3f3f;
    --theme-toggle-color: #282828;
    --page-color: rgba(40, 40, 40, 0.85);
    --main-color: #BC66BD;
    --card-background-color: #3f3f3f;
    --card-border-color: #75BFB9;
    --auth-form-bg: #3f3f3f;
    --auth-bg: #282828;
    --font-color: #DBDBDB;
    --button-hover-color: #DBDBDB;
    --placeholder-color: #DBDBDB;
    --theme-toggle-color-active: #3f3f3f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-background: #3f3f3f;
        --theme-toggle-color: #282828;
        --theme-toggle-color-active: #3f3f3f;

        --page-color: rgba(40, 40, 40, 0.85);
        --main-color: #BC66BD;
        --card-background-color: #3f3f3f;
        --card-border-color: #75BFB9;
        --auth-form-bg: #3f3f3f;
        --auth-bg: #282828;
        --font-color: #DBDBDB;
        --button-hover-color: #DBDBDB;
        --placeholder-color: #DBDBDB;
    }
}


@media (max-width: 500px) {
    :root {
        --font-size-xxl: 40px;
        --font-size-large: 24px;
        --font-size-big: 20px;
        --font-size-medium: 20px;
        --font-size-main: 14px;
        --font-size-small: 12px;
        --font-weight-bold: 700;
    }
}