:root {
    --main-font: 'Roboto-Variable', sans-serif;
    --main-color: #EC95A8;
    --accent-color: #75BFB9;
    --page-color: #FCEFF2;
    --bg-color: #FFFFFF;
    --font-color: #494949;
    --placeholder-color: rgba(73, 73, 73, 0.7);
    --box-shadow: var(--main-color) 4px 4px 8px 0,
    var(--main-color) -4px -4px 8px 0,
    var(--main-color) 4px -4px 8px 0,
    var(--main-color) -4px 4px 8px 0;
    --font-size-large: 40px;
    --font-size-big: 24px;
    --font-size-medium: 20px;
    --font-size-main: 16px;
    --font-size-small: 14px;
    --font-weight-bold: 700;
    --error-color: #BC66BD;
}

:root.dark {
    --page-color: #545151;
    --bg-color: #6D6D6D;
    --font-color: #FFFFFF;
    --placeholder-color: rgba(255, 255, 255, 0.7);

}

@media (prefers-color-scheme: dark) {
    :root {
        --page-color: #545151;
        --bg-color: #6D6D6D;
        --font-color: #FFFFFF;
        --placeholder-color: rgba(255, 255, 255, 0.7);

    }
}

@media (max-width: 500px) {
    :root {
        --font-size-large: 24px;
        --font-size-big: 20px;
        --font-size-medium: 20px;
        --font-size-main: 14px;
        --font-size-small: 12px;
        --font-weight-bold: 700;
    }
}